.container.container-margin
  %p.title.is-3.has-text-link Result Sheets
  %table.table.is-fullwidth.is-striped.is-narrow.is-hoverable
    %thead
      %tr
        %th{:scope => "col"} #
        %th{:scope => "col"} Date
        %th{:scope => "col"} Doctor
        %th{:scope => "col"} Actions
    %tbody
      - @result_sheets.each do |sheet|
        %tr
          %th{:scope => "row"}= sheet.id
          %td= sheet.date
          %td= sheet.doctor
          %td
            = link_to 'Show' , result_sheet_path(sheet), class: 'button is-link'
            = link_to 'Delete', result_sheet_path(sheet), method: :delete, class: 'button is-danger'
      - end if @result_sheets.present?
  = link_to 'New', new_result_sheet_path, class: 'button is-link'
