
<div class="container container-margin ">
  <p class="title is-3 has-text-link">Result Sheets</p>

  <table class="table is-fullwidth is-striped is-narrow is-hoverable">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Doctor</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @result_sheets.each do |sheet| %>
        <tr>
          <th scope="row"><%= sheet.id %></th>
          <td><%= sheet.date %></td>
          <td><%= sheet.doctor %></td>
          <td>
            <%= link_to 'Show' , result_sheet_path(sheet), class: 'button is-link' %>
            <%= link_to 'Delete', result_sheet_path(sheet), method: :delete, class: 'button is-danger' %>
          </td>
        </tr>
      <% end if @result_sheets.present?%>
    </tbody>
  </table>

  <%= link_to 'New', new_result_sheet_path, class: 'button is-link' %>

</div>
