<div class="container container-margin ">
  <p class="title is-3 has-text-link">New Result Sheet</p>
  <%= form_with(model: @result_sheet, local: true) do |f|%>
    <div class="field">
      <%= f.label :doctor %>
      <%= f.text_field :doctor, class: 'input is-link is-rounded', placeholder: 'Doctor Name'%>
    </div>
    <div class="field">
      <%= f.label :document %>
      <%= f.file_field :document, required: true, class: 'is-right is-link box button'%>
    </div>

    <%= f.submit 'Create', class:'button is-link' %>
  <% end %>
</div>
