<div class="container container-margin ">
  <%= link_to 'Back', :back, class: 'button is-danger is-outlined'%><br></br>
  <p class="title is-3 has-text-link">Result Sheet <%=@result_sheet.date%></p>

  <table class="table is-fullwidth is-striped is-narrow is-hoverable">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Result</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @result_sheet.studies.each do |study| %>
        <tr>
          <td><%= study.name %></td>
          <td class='has-text-danger'><%= study.result %></td>
          <td>
            <%= link_to 'Edit', edit_study_path(study), class: 'button is-link' %>
            <%= link_to 'delete', study_path(study), method: :delete, class: 'button is-danger' %>
          </td>
        </tr>
      <% end if @result_sheet.studies %>
    </tbody>
  </table>
<div>
