<div class='container container-margin '>
  <%= link_to 'Back', :back, class: 'button is-danger is-outlined'%> <br></br>
  <p class="title is-3 has-text-link"><%=@studies.first.name.capitalize%> Results</p>
    
  <%= area_chart results(@studies), download: {filename: "#{@studies.first.name}", background: "#ffffff"}, title: "#{@studies.first.name.capitalize} results" %>

  <table class="table is-fullwidth is-striped is-narrow is-hoverable">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
      <% @studies.each do |study| %>
        <tr>
          <td><%= study.result_sheet.date %></td>
          <td class='has-text-danger'><%= study.result %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
