%body
  %header
    %nav.navbar.has-background-light{"aria-label" => "main navigation", :role => "navigation"}
      .navbar-brand
        %p.has-text-white= link_to image_tag('logo-name.png',class: 'header-icon'), root_path
      #navbarBasicExample.navbar-menu
        .navbar-end
          .navbar-item
            = link_to image_tag('loupe.svg'), dashboard_path, class: 'image is-32x32'
          .navbar-item
            = link_to image_tag('cloud-computing.svg'), new_result_sheet_path	, class: 'image is-32x32'
          .navbar-item
            = link_to image_tag('results.svg'), result_sheets_path, class: 'image is-32x32'
          .navbar-item
            .buttons
              = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'button is-danger is-outlined is-rounded'
