<!DOCTYPE html>
<html>
  <head>
    <title>HealthPlotter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'logo.png' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <% if notice %>
      <div class="notification is-primary">
        <button class="delete"></button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="notification is-danger">
        <button class="delete"></button>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
    <%#= render 'layouts/footer' %>
  </body>
</html>
